@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: 'Inkburro'; /* Nombre que usarás en CSS */
    src: url('fonts/Inkburro.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* outline: 1px solid red;  */
    /* debug */
}

html {
    scroll-behavior: smooth;
}

#hero-section {    
    background-image: url("imagenes/hero-image.png");
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px;
}

.glass-effect {
    background: rgba(13, 14, 16, 0.20);
    border-radius: 32px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(125, 125, 125, 0.3);
    width: 100%; 
    margin: 0;
    padding: 64px;
}

#logo {
    width: 290px;
    height: 44px;
    background: url("imagenes/JLI-h1-logo.png") no-repeat center;
    background-size: cover; 
    font-size: 0;
    margin: 0;
} 

.JLI-nav-p {
    text-transform: uppercase;
    color: #F8FAFA;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1px;    
    margin-top: 4px;
    margin-bottom: 0px;
}

.navbar .container,
.navbar .container-fluid {
padding-left: 4px;
padding-right: 4px;
}

.navbar-JLI {
    background-color: #F8FAFA;
    border-radius: 100px;
}

.nav-link {
    white-space: nowrap;
    color: #0D0E10;
}

.btn-JLI {
    background-color: #0D0E10;
    text-decoration: none;
    color: #F8FAFA;
    border-radius: 100px;
    font-size: 1rem;
    padding: 8px 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); 
    border: none;
    cursor: pointer;
}

.h1-JLI {
    font-size: 3rem;
    font-weight: 700;
    color: #F8FAFA;
}

.btn-JLI-secondary {
    background-color: #F8FAFA;
    color: #0D0E10;;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 24px;
    margin-top: 24px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); 
    border: none;
    cursor: pointer;
}

#catalogo {
    padding-left: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F8FAFA;
}

.p-catalogo-JLI {
    color: #282728;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.JLI-list-item {
    color: #0D0E10;
    list-style: none;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Tabs no activas */
#catalogoTabs .nav-link {
    color: #4F5052;
    transition: color 0.3s;
    position: relative;
    padding-left: 24px; 
}

/* Tab activa */
#catalogoTabs .nav-link.active {
    color: #282728;
    font-weight: 500;
}

#catalogoTabs .nav-link.active::before {
    content: "•";               
    position: absolute;
    left: 0;                    
    top: 50%;
    transform: translateY(-50%); 
    color: #282728;            
    font-size: 18px;            
    font-weight: 500;
}

#catalogoTabs .nav-link:not(.active):hover {
    color: #282728;
    font-weight: 500;
}


.carousel-row {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 24px;
}


.img-tab-JLI {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.figcaption-JLI {
    padding-top: 8px;
}

/* .carousel-item {
    overflow-x: auto;
} */


#sobre-mi {
    padding: 100px 80px;
}

.img-sobremi {
    padding-right: 100px;
}

.title-ink {
    font-family: 'Inkburro', 'Plus Jakarta Sans', sans-serif;
    font-size: 80px;
}

#coleccionImaginatu {
    padding: 100px 80px;
    gap: 100px;
}

.p-imaginatu {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 0.32px;
}

.btn-JLI-terciary {
    font-family: "Plus Jakarta Sans";
    background-color: transparent;
    border: none; 
    box-shadow: none; 
    outline: none; 
    padding: 0; 
    color: #0D0E10; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

#coleccionAbstraktua {
    padding: 100px 0px;
}

.p-subtitle {
    font-family: "Plus Jakarta Sans";
    text-transform: uppercase;
    color: #4F5052;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
}

.Abstraktua-row {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    gap: 24px;
}

#carouselAbstraktua img {
    width: 350px;
    height: 350px;
    object-fit: cover; /* recorta sin deformar */
    display: flex;
    justify-content: center;
    align-items: center;
}

#colecciones {
    padding: 100px 80px;
  }
  
  .row-colecciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 64px;
    padding-top: 56px;
  }
  
  .colecciones-title {
    font-family: "Plus Jakarta Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  
  .img-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
  }
  
  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Borde interno */
  .img-wrapper::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 32px;
    border: 1px solid #F8FAFA;
    pointer-events: none;
  }
  

  .h2-colecciones-title {
    margin-top: 24px;
    color: #0D0E10;
    font-family: 'Inkburro', 'Plus Jakarta Sans', sans-serif;
    font-size: 48px;
  }
  
  figcaption p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  

#footer {
    padding: 100px 80px;
    background-color: #0D0E10; 
    color: #F8FAFA;
}

.formasdecontacto {
    padding-left: 80px;
}

.links-redes {
    text-decoration: none;
    color: #F8FAFA;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ul-contacto {
    list-style: none;
    padding: 0px;
}

/* Imaginatu HTML */

/* .banner-colecciones {
    background-color: #0D0E10;
    color: #F8FAFA;
    padding: 0px 80px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    gap: 40px;
} */

#hero-section-imaginatu {    
    background-image: url("imagenes/coleccionimaginatu/Collar\ Medusen\ -\ Plata\ 925.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px;
}

/* Filtro */

.contenedor-filtro {
    padding: 80px;
    margin: 0px;
}

/* Tarjetas de producto */
.product {
    text-align: start;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 100%; /* Para que todas las tarjetas se alineen en altura */
}

.product:hover {
    transform: translateY(-4px); 
    scale: 1.0;
    cursor: pointer;
}

.product img {
    width: 100%;          /* se ajusta al ancho de la columna */
    aspect-ratio: 1 / 1;  /* cuadrado perfecto */
    object-fit: cover;    /* recorta sin deformar */
    margin-bottom: 16px;
}

.product h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.product p {
    font-size: 0.9rem;
    color: #4F5052;
    margin-bottom: 0;
}

/* Back to top */

#back-to-top {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #0D0E10;
    color: #F8FAFA;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    text-align: center; 
    line-height: 50px; 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-to-top p {
    font-family: 'Plus Jakarta Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#back-to-top a {
    text-decoration: none; 
    color: #F8FAFA;
}

#back-to-top:hover {
    background-color: #0D0E10;
}  
